body{
  text-align: center;
}

.pigDice{
  display:none;
}

#currentRoll{
  font-size: 10em;
}

#pointPool{
  font-size: 2.5em;
}

ul{
  list-style: none;
}

#playerTwoTurn{
  display:none;
}

#difficulty{
  display:none;
}
